button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #8b8b8b;
    cursor: pointer;
    transition: 0.5s;
}

button.primary {
    background-color: #2b92ff;
    color: white;
}
button.primary:hover {
    background-color: #1e5b9c;
}
