/* TODO: theme for UI colors */
button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 3px 4px #bebebe;
    cursor: pointer;
    transition: 0.5s;
}

button.small {
    padding: 6px 7px 5px 7px;
    margin-top: 3px;
    margin-bottom: 3px;
}

button:hover {
    box-shadow: 2px 5px 4px #bebebe;
}

button.primary {
    background-color: #257ddb;
    color: white;
}
button.primary:hover {
    background-color: #4ea3fd;
}

button.deny {
    background-color: #921818;
    color: white;
}
button.deny:hover {
    background-color: #b61f1f;
}
