.chip-radio-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chip-radio-button {
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15pt;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    opacity: 40%;
    transition: opacity 0.75s;
}
.chip-radio-button:hover {
    opacity: 80%;
}
.chip-radio-button.selected {
    opacity: 95%;
}

.chip-radio-button .checkmark-back {
    opacity: 0;
}
.chip-radio-button .checkmark {
    opacity: 0;
    transition: opacity 0.75s;
}
.chip-radio-button.selected .checkmark {
    opacity: 100%;
}
